:root {
    --brand-background-primary:#E7E9FC;
    --brand-background-secondary: #2E2F42;
    --brand-button-primary:#4D5AE5;
    --brand-button-secondary:#E7E9FC;
    --brand-text-primary:color: #2E2F42;
    --brand-text-secondary:#434455;
    --main-hover-color: #4D5AE5;
    --main-hover-text-color: #FFFFFF;
    --main-font-size: 16px;
    --main-line-height: 1.5em;
    --color-logo: #4d5ae5;
    --color-span: #2e2f42;
}
.link {
        text-decoration: none;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-logo);
}

.studio-span {
        color: var(--color-span);
}
.menu.link {
        color: var(--color-link);
}

.menu.link:hover,
.menu.link:focus {
        color: #404bbf;
}
.background-style-primary .contact.link:hover,
.background-style-primary .contact.link:focus {
        color: #404bbf;
}
.button-portfolio:hover,
.button-portfolio:focus {
        color:#FFFFFF;
        background-color:#4D5AE5;
        cursor:pointer;
}
.button-order {
        cursor: pointer;
        color:#FFFFFF;
        background-color: var(--brand-button-primary);
        font-family: "Roboto", sans-serif;
}
.button-order:hover,
.button-order:focus {
        background-color:  #404BBF;
        color:white;
}      
.background-style2 {
        background-color: var(--brand-background-secondary);
}
.background-bottom {
        background-color: var(--brand-background-secondary);
}
.background-style-primary .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}
.background-style-primary .contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.background-style-primary address.address-class {
        font-style: normal;
}
.background-style-primary .span-class {
        color: #2e2f42;
}
.logo:visited {
        color:#2E2F42;
}
.menu link {
        color:var(--brand-text-primary);
        font-size: var(--main-font-size);
        font-weight: 500;
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        text-align: left;
}
.contact link{
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        text-align: left;
        color:var(--brand-text-secondary);
}

.main-item {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: 0.02em;
        text-align: center;
        color:#FFFFFF;
}

.button-order {
        background:var(--brand-button-primary);
        color:#FFFFFF;
        font-size: var(--main-font-size);
        font-weight: 500;
        line-height: var(--main-line-height);
        letter-spacing: 0.04em;
        text-align: left;
}
.footer-text {
        color:#F4F4FD;
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        text-align: left;
}
.main-title {
        color:var(--brand-text-primary);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.02em;
        text-align: left;
}
.main-description {
        color: var(--brand-text-secondary);
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        text-align: left;
}
.main-header {
        color: var(--brand-text-primary);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.111em;
        letter-spacing: 0.02em;
        text-align: center;
}
.main-description1 {
        color: var(--brand-text-secondary);
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        text-align: center;
}
.button-portfolio{
        color: var(--brand-button-primary);
        background-color:#F4F4FD;
        border:1px solid var(--brand-button-secondary);
        font-size: var(--main-font-size);
        font-weight: 500;
        line-height: var(--main-line-height);
}