:root {
  --Accent: #e7e9fc;
  --Dark: #2e2f42;
  --Hero-background: #2e2f42;
  --Light: #f4f4fd;
  --Modal-background: #fcfcfc;
  --Modal-overlay: #2e2f42 100%, #2e2f42 40%;
  --Primary-Brand: #4d5ae5;
  --Pressed-state: #404bbf;
  --Success: #31d0aa;
  --Subtle-Text: #8e8f99;
  --Text: #434455;
  --White-background: #ffffff;
  --main-font-size: 16px;
  --main-line-height: 1.5;
}

/* Header*/

.link {
  text-decoration: none;
  color: var(--Dark);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Primary-Brand);
}

/*First main section*/

/*First main section*/
.section-team {
  background-color: var(--Light);
}

.menu.link {
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--Dark);
}
.list a:hover {
  color: var(--Pressed-state);
}
.list a:focus {
  color: var(--Pressed-state);
}
.menu :hover,
.menu :focus {
  color: var(--Pressed-state);
}
.navigation-panel .contact.link:hover,
.navigation-panel .contact.link:focus {
  color: var(--Pressed-state);
}
.button-portfolio:hover,
.button-portfolio:focus {
  cursor: pointer;
  color: var(--White-background);
  background-color: var(--Primary-Brand);
}
.button-order {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: var(--White-background);
  background-color: var(--Primary-Brand);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--Pressed-state);
  color: var(--White-background);
}
.panel-bottom {
  background-color: var(--Dark);
}

.navigation-panel .logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-panel .address {
  font-style: normal;
  color: var(--Dark);
}
.logo:visited {
  color: var(--Dark);
}
.menu {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--Dark);
}

.contact {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.02em;
  color: var(--Text);
}

.header-primary {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--White-background);
}

.button-order {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: 500;
  letter-spacing: 0.04em;
  background: var(--Primary-Brand);
  color: var(--White-background);
}
.footer-text {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--Light);
}
.main-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--Dark);
}
.header-secondary {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--Dark);
}
.list {
  list-style: none;
}
.text-body {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.02em;
  color: var(--Text);
}
.button-portfolio {
  font-size: var(--main-font-size);
  font-weight: 500;
  line-height: var(--main-line-height);
  font-family: inherit;
  letter-spacing: 4%;
  border: 1px solid var(--Accent);
  background-color: var(--Light);
  color: var(--Primary-Brand);
}
ul {
  list-style: none;
  text-decoration: none;
}
.main-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);
}
